{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "./utils": "utils",
          "./cleaners": "cleaners",
          "./resource": "resource",
          "./extractors": "extractors",
          "./test-helpers.js": "test-helpers",
          "./mercury.js": "mercury"
        }
      },
    ],
    [
      "@babel/plugin-transform-runtime"
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "@babel/plugin-transform-runtime"
        ]
      ]
    }
  }
}
